body {
    font-family: Arial, sans-serif;
    background-color: #34568B; /* Change this to your desired background color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #45ab6c; /* Change this to your desired container background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


h1 {
    font-size: 24px;
}

.search {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

.weather-info {
    margin-top: 20px;
}
